@model ConciliateBankStatement.Core.Models.ImportResponse

@{
    ViewData["Title"] = "Home Page";
}

@if(Model != null)
{
    if (Model.Success)
    {
        <div class="alert alert-success">
            <p>There were @Model.TransactionsImportedQuantity transactions imported.</p>
        </div>
    }
    else
    {
        <div class="alert alert-warning">
            <p>@Model.Error</p>
            <p>There were @Model.TransactionsImportedQuantity transactions imported.</p>
        </div>
    }
}

<h3>File Importer</h3>

<div class="row">
    <form method="post" enctype="multipart/form-data" action="/">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="formFile" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>
    </form>
</div>